
/*//
//// our little lol template.
//*/

*
{ box-sizing:border-box; }

body
{ font-family:'Segoe UI','HelveticalNeue','Arial','Helvetica',sans-serif; font-weight:300; }

#header
{ background:#C68AF6; color:#774F97; font-size:1.4em; padding:10px; }

#main
{ background:#eee; padding:20px 10px; }

#footer
{ background:#ddd; color:#aaa; font-size:0.8em; padding:10px; text-align:right; }

#footer a
{ color:inherit; }
